html,
body {
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
}

body {
    background-color: #1B1919;
    color: white;
}

nav {
    height: 80px;
}

.teks ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.teks ul li a:hover {
    background-color: #D9D872;
    color: black;
    border-radius: 10px;
}

.teks ul li {
    padding-right: 20%;
}

.teks ul {
    margin-left: 3%;
}

.section1 h2 {
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 400%;
    letter-spacing: 20px;
    padding-top: 15%;
}

.section1 p {
    color: #D9D872;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 130%;
    padding: 0% 25% 0 25%;
    margin-top: 9%;
}

.button1 {
    display: flex;
    justify-content: center;
}

.section1 button {
    color: black;
    width: 8%;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    margin-top: 9%;
    border-radius: 10px;
}


.section2 h2 {
    margin-top: 13%;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 400%;
    letter-spacing: 20px;
    border-bottom: 3px solid white;
    width: 20%;
    margin-left: 9%;
    padding-bottom: 1%;
}

.detail {
    height: 450px;
}

.kiri {
    border-right: 5px solid white;
    float: left;
    width: 50%;
    margin-top: 5%;
}

.kiri p {
    padding: 0% 17% 0 17%;
    font-size: 180%;
    text-align: justify;
    color: #D9D872;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
}

.kanan p {
    padding: 0% 17% 0 17%;
    font-size: 150%;
    text-align: center;
}

.kanan {
    float: right;
    width: 50%;
    margin-top: 5%;
}

.gambar img {
    width: 100%;
}

.section3 {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section3 p {
    text-align: center;
}

.teks1 {
    font-family: 'Inter', sans-serif;
    font-size: 170%;
    font-weight: bold;
    width: 50%;
    display: flex;
    align-self: center;
}

.teks2 {
    margin-top: 5%;
    color: #D9D872;
    margin-bottom: 5%;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 130%;
}

.slide1 {
    width: 100%;
    height: 500px;
}

.satu {
    margin-left: 8%;
}

.section4 p {
    text-align: center;
    padding: 0% 15% 0% 15%;
    margin-bottom: 7%;
}

.section4 h3 {
    text-align: center;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    letter-spacing: 20px;
    margin-bottom: 5%;
}

.robusta,
.rempah,
.sepatu {
    margin-top: 5%;
}

.button1 h2 {
    padding: 2%;
    font-size: 120%;
    background-color: #EC5C5C;
    border-radius: 10px;
    margin-bottom: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.harga1 {
    margin-left: -10%;
}

.pisah {
    margin-bottom: 3%;
}

.section5 button {
    color: black;
    width: 10%;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    margin-top: 3%;
    border-radius: 10px;
    background-color: #D9D872;
}

footer {
    margin-top: 10%;
    background-color: #E5E5E5;
    border-top: 1px solid black;
    width: 100%;
    height: 100px;

}

.kiri2 {
    float: left;
}

.kiri2 p {
    color: black;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    letter-spacing: 20px;
    font-size: 200%;
    margin-left: 20%;
    margin-top: 7%;
}

.kanan2 {
    margin-left: 60%;
    margin-top: 2%;
}

.kanan2 img {
    padding-right: 10%;
}

.ig li,
.wa li,
.kanan2 li {
    display: inline-block;
}

.ig li a,
.wa li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


@media only screen and (min-width: 300px)and (max-width: 700px) {
    .section1 h2 {
        font-size: 120%;
        padding-top: 30%;
    }

    .section1 p {
        font-size: 100%;
        padding: 0% 15% 0 15%;
    }

    .section1 button {
        width: 25%;
    }

    .section2 h2 {
        font-size: 250%;
        width: 50%;
        border-bottom: 3px solid white;
        margin-top: 25%;
    }

    .kiri {
        border-right: none;
        border-bottom: 5px solid white;
        float: none;
        width: 100%;
    }

    .kiri p {
        padding: 0% 15% 0 15%;
        font-size: 130%;
    }

    .kanan p {
        padding: 0% 15% 0 15%;
    }

    .kanan {
        float: none;
        width: 100%;
    }

    .teks1 {
        font-family: 'Inter', sans-serif;
        font-size: 130%;
        font-weight: bold;
        width: 50%;
        display: flex;
        align-self: center;
    }

    .dua {
        margin-left: 10%;
    }

    .sepatu p {
        margin-right: 10%;
    }

    .sepatu h3 {
        margin-right: 10%;
    }

    .section5 button {
        width: 30%;
    }

    footer {
        height: 120px;
    }
    
    .kiri2 p {
        letter-spacing: 10px;
        font-size: 120%;
        margin-left: 10%;
        margin-top: 1.5%;
    }

    .kanan2 {
        margin-left: 0%;
        margin-top: -2%;
        width: 100%;
    }

    .kiri2 {
        float: none;
    }

    .kanan2 img {
    padding-right: 10%;
}

}
